<footer class="site-footer" role="contentinfo">
	<div class="container">
	  <div class="row mb-5">
		<div class="col-md-4 mb-5">
		  <h3>关于 polar pioneers</h3>
		  <p class="mb-5"> {{data.companyDescription}}</p>
		  <!-- <ul class="list-unstyled footer-link d-flex footer-social">
			<li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
			<li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
			<li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
			<li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
		  </ul> -->

		</div>
		<div class="col-md-5 mb-5 pl-md-5">
		  <h3>联系方式</h3>
		  <ul class="list-unstyled footer-link">
			<li class="d-block">
			  <span class="d-block">地址</span>
			  <span class="text-white">{{data.companyAddress}}</span></li>
			<li class="d-block"><span class="d-block">电话:</span><span class="text-white">{{data.companyPhone}}</span></li>
			<li class="d-block"><span class="d-block">电子邮箱:</span><span class="text-white">{{data.email}}</span></li>
		  </ul>
		</div>
		<div class="col-md-3 mb-5">
		  <h3>快速连接</h3>
		  <ul class="list-unstyled footer-link">
			<li><a routerLink="/about_us">关于我们</a></li>
			<li><a routerLink="/cases">成功案例</a></li>
			<li><a routerLink="/online_evaluation">在线评估</a></li>
			<li><a routerLink="/news">移民资讯</a></li>
		  </ul>
		</div>
		<div class="col-md-3">
		
		</div>
	  </div>
	  <div class="row">
		<div class="col-12 text-md-center text-left">
		  <p>Copyright &copy; All rights reserved</p>
		</div>
	  </div>
	</div>
</footer>
  <!-- END footer -->

  